.WeatherInfo h1 {
  font-size: 60px;
}

.today-temp {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 100px;
  line-height: 0.4;
}

.WeatherInfo .units,
.units a {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

.WeatherInfo .current-conditions {
  list-style: none;
  padding: 0;
}
